@media only screen and (max-width: 768px) {
  /* MAIN CONTAINER */
  .about-container {
    display: flex;
    flex-direction: column;
    padding: 5vw;
  }

  /* ABOUT CARD */
  .about-pic {
    height: auto;
    width: 60vw;
  }
  hr.rounded {
    border-top: 5px solid #fff87c;
    border-radius: 5px;
    width: 100%;
  }
  .divider {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pic-container {
    grid-row: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
  }

  .about-bio {
    font-size: 1em;
    color: white;
  }

  .about-about {
    font-size: 2em;
    color: #fff87c;
    font-family: "Righteous", cursive;
    margin-bottom: 0.5em;
  }

  /* EXPERIENCE AND EDUCATION CARDS */
  .experience,
  .education {
    font-size: 2em;
    color: #fff87c;
    font-family: "Righteous", cursive;
    margin-bottom: 0.5em;
  }

  .job-section,
  .school-section {
    color: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
  }

  .job-company,
  .school-name {
    font-size: 1.3em;
    margin: 0;
    padding-left: 0.5em;
  }

  .job-title,
  .school-degree {
    font-size: 1em;
  }

  .job-date,
  .school-date {
    font-size: 0.9em;
    color: rgb(194, 194, 194);
  }

  .job-description {
    font-size: 0.9em;
    color: #e8e8e8;
  }

  .company-and-icon,
  .school-icon-name {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    padding-bottom: 0.5em;
  }

  .company-icon,
  .school-icon {
    width: 10vw;
    height: auto;
  }
}

@media only screen and (min-width: 769px) {
  /* MAIN CONTAINER */
  .about-container {
    display: flex;
    flex-direction: column;
    padding: 1em 20vw 3em 20vw;
  }

  /* ABOUT CARD */
  .pic-and-about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .about-pic {
    height: auto;
    width: 15em;
  }

  .pic-container {
    grid-row: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
  }

  .about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about-bio {
    font-size: 1em;
    color: white;
  }

  .about-about {
    font-size: 2em;
    color: #fff87c;
    font-family: "Righteous", cursive;
    margin-bottom: 0.5em;
  }

  hr.rounded {
    border-top: 5px solid #fff87c;
    border-radius: 5px;
    width: 100%;
  }
  .divider {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* EXPERIENCE AND EDUCATION CARDS */
  .experience,
  .education {
    font-size: 2em;
    color: #fff87c;
    font-family: "Righteous", cursive;
    margin-bottom: 0.5em;
  }

  .job-section,
  .school-section {
    color: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
  }

  .job-company,
  .school-name {
    font-size: 1.3em;
    margin: 0;
    padding-left: 0.5em;
  }

  .job-title,
  .school-degree {
    font-size: 1em;
  }

  .job-date,
  .school-date {
    font-size: 0.9em;
    color: rgb(194, 194, 194);
  }

  .job-description {
    font-size: 0.9em;
    color: #e8e8e8;
  }

  .company-and-icon,
  .school-icon-name {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    padding-bottom: 0.5em;
  }

  .company-icon,
  .school-icon {
    width: 3vw;
    height: auto;
  }
}
