@import url("https://fonts.googleapis.com/css2?family=Syncopate&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@media only screen and (max-width: 768px) {
  /* MAIN CONTAINER */
  .home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100vh;
    transform: translate(-50%, -50%);
    background: url("https://i.imgur.com/uCuywl0.jpg") no-repeat center center;
    background-size: cover;
  }

  /* HOME NAME AND HOME BRIEF */
  .home-name {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Righteous", cursive;
    font-size: 3.5em;
  }

  .home-brief {
    text-align: center;
    width: 100vw;
    color: #fff87c;
  }
}

@media only screen and (min-width: 769px) {
  /* MAIN CONTAINER */
  .home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    background: url("https://i.imgur.com/uCuywl0.jpg") no-repeat center center
      fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  /* HOME NAME AND HOME BRIEF */
  .home-name {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 6em;
    font-family: "Righteous", cursive;
    font-weight: 700;
  }

  .home-brief {
    text-align: center;
    width: 100vw;
    color: #fff87c;
    font-size: 1.6em;
  }
}
