@media only screen and (max-width: 768px) {
  .photography-container {
    padding: 5vw;
  }

  .photography {
    margin: 0;
    color: #fff87c;
    font-family: "Rock Salt", cursive;
  }

  .photography-title-container {
    display: flex;
    justify-content: center;
  }
  hr.rounded {
    border-top: 5px solid #fff87c;
    border-radius: 5px;
    width: 100%;
  }
  .divider {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .photography-card {
    background-color: #4f8270;
    width: 90vw;
    border-radius: 1em;
    margin-bottom: 2em;
    margin-top: 1em;
  }

  .card-image {
    width: 90vw;
    height: auto;
    display: flex;
    justify-content: center;
    border-radius: 1em 1em 0em 0em;
  }

  .card-text {
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.2em;
  }

  a:link {
    text-decoration: none;
  }
}

@media only screen and (min-width: 769px) {
  .photography-container {
    padding: 0 25vw 0 25vw;
  }

  .photography-title-container {
    display: flex;
    justify-content: center;
  }

  .photography-card-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .photography {
    font-size: 2em;
    color: #fff87c;
    padding: 1em 25vw 0 25vw;
    font-family: "Rock Salt", cursive;
  }

  hr.rounded {
    border-top: 5px solid #fff87c;
    border-radius: 5px;
    width: 100%;
  }

  .divider {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .photography-card {
    background-color: #4f8270;
    width: 40vw;
    border-radius: 1em;
    margin-bottom: 2em;
  }

  .card-image {
    width: 40vw;
    height: auto;
    display: flex;
    justify-content: center;
    border-radius: 1em 1em 0em 0em;
  }

  .card-text {
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.2em;
  }

  a:link {
    text-decoration: none;
  }
}
